{% extends 'base.html.twig' %}



{% block content %}
	<h1>Connexion</h1>
	
	
	<form method="post" action="{{ path('connexion_check') }}">
	
		<div class="form-group">
			<input type="text" class="form-control" name="_username" value="{{ lastUsername }}" placeholder="Pseudo" />
		</div>
		
		<div class="form-group">
			<input type="password" class="form-control" name="_password" placeholder="Mot de passe" />
		</div>
		
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Connexion"/>
		</div>
	</form>	

	<div class="row">
		Si tu n'as pas de compte inscris toi ici : <button type="submit" class="btn btn-primary"><a href="{{ path('register') }}">Inscription</a></button>
	</div>
	
{% endblock %}