{% extends 'base.html.twig' %}

{% block content %}

<h1>Je suis sur le dasboard vendeur</h1>

<a href="">Gestion commandes</a>
<a href="">Gestion boutique (affiche le tableau des produits sur lequel on peut CRUD)</a>
<a href="">Gestion profil</a>
<a href="">Conditions d'utilisation </a>
<!-- <a href="">Statistiques boutique (en bonus)</a> -->
{% endblock %}
