{% extends 'base.html.twig' %}

{% block content %}

<main>
    <h1>Qui sommes-nous ?</h1>

    <p>Derrière ce beau projet qu'est Bio Chez Toi se trouvent cinq développeurs et développeuses passionnés, la Team BEAMM (Bart, Emilie, Ange, Malik et Magali). Ces cinq férus de technologies se sont rencontrés durant leur formation avec Webforce3 et ont décidé de créer un marketplace permettant aux gens d'acheter en local des produits sains, en résumé : utiliser la technologie pour mieux respecter la/notre nature.</p> 

    <p>Avec le concept de <a href="{{ path('locavore') }}">locavore</a> nous avons trouvé une idée qui nous parle à tous et pensons pouvoir remettre de l'humain au centre de la consommation tout en suivant des principes écologiques qui nous sont chers. Consommer intelligent est sûrement l'un des objectifs les plus difficiles à mettre en place dans notre société de consommation, nous espérons que notre site pourra être une ressource pour toute personne voulant changer ses habitudes d'achats, rencontrer les producteurs de sa communauté et manger plus sain.</p>

    <p>Nous esperons aussi être une aide pour ces petits producteurs, un endroit où trouver leurs clients, où acquérir une visibilité et où, peut-être, trouver de futurs partenaires.</p> 

    <p>Jamais à cours d'idées, nous prévoyons beaucoup d'améliorations dans les mois à venir. Des statistiques pour aider les producteurs à avoir une vision claire de leur part de marché, un système de fidélisation à base de réductions, des espaces de discussion... Bio Chez Toi a pour vocation de devenir l'espace incontournable de tout consommateur averti dans un futur proche !</p>

    <p>La Team BEAMM vous souhaite une très belle aventure locavore chez Bio Chez Toi ! N'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a>, ça nous fait toujours plaisir !</p>
</main>

{% endblock %}