{% extends 'base.html.twig' %}

{% block content %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/style_vue.css') }}">
{% endblock %}
<div class="container">
<main>
    <h1>Bio Chez Toi recrute !</h1>

    <h2>La Team BEAMMM cherche son/sa stagiaire développeur/développeuse web.</h2>

    <p>La mission : Nous épauler sur le travail de développement de Bio Chez Toi et en profiter pour apprendre tout un tas de choses. Le site est principalement conçu sous Symfony, avec utilisation de php, html et css, bootstrap et un petit peut de javascript.</p>

    <p>Le profil recherché : Quelqu'un de passionné. Peu importe les diplômes ou l'expérience. Toute candidature sera considérée (et on y répondra !).</p>

    <p>Contact : recrutement@biocheztoi.com</p>

</main>
</div>
{% endblock %}