{% extends 'base.html.twig' %}

{% block content %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/css/style_vue.css') }}">
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2 text-center">
            <h1 class="titre">Bio Chez Toi recrute !</h1><br>

            <h3>La Team BEAMMM cherche son/sa stagiaire développeur/développeuse web.</h2><br><br>

                <div class="col-md-8 offset-2">
                    <p style="text-align: center;">La mission : Nous épauler sur le travail de développement de Bio Chez
                        Toi et en profiter pour
                        apprendre tout un tas de choses. Le site est principalement conçu sous Symfony, avec utilisation
                        de
                        php, html et css, bootstrap et un petit peut de javascript.

                    Le profil recherché : Quelqu'un de passionné. Peu importe les diplômes ou l'expérience. Toute
                        candidature sera considérée (et on y répondra !).

                    Contact : recrutement@biocheztoi.com</p>

                   </div>
                </div>
                </div>
                {% endblock %}