{% extends 'base.html.twig' %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-8 offset-2 text-center">
            <h1 class="titre">
                Copyright Team BEAMM tous droits réservés.</h1><br>
               <h3> BioChezToi est un projet étudiant sans but commercial.</h3>
        </div>
    </div>
</div>

{% endblock %}