{% extends 'base.html.twig' %}

{% block content %}

<h1>Je suis sur l'accueil !!!</h1>
<div class="row">
    <button type="submit" class="btn btn-success col-md-3"><a href="{{ path('search') }}">Je veux acheter</a></button>
    <button type="submit" class="btn btn-success col-md-3"><a href="{{ path('sell') }}">Je veux vendre</a></button>
</div>



{% endblock %}