
{% extends 'base.html.twig' %}

{% block content %}

<!-- <h1>Je suis sur l'accueil !!!</h1>
<div class="row">
    <button type="submit" class="btn btn-success col-md-3"><a href="{{ path('search') }}">Je veux acheter</a></button>
    <button type="submit" class="btn btn-success col-md-3"><a href="{{ path('sell') }}">Je veux vendre</a></button>
</div> -->

<header>
    <div class="container">
        
    </div>
    <section class="hero">
        <div class="hero-content">

            <h1 class="hero-title">Lorem, ipsum dolor sit amet consectetur adipisicing at dolore nostrum eius</h1>
            <button type="button" class="hero-button">Acheter</button>
            <button type="button" class="hero-button">Vendre</button>

        </div>
    </section>

    <main>
        <h2>Produit bio près de chez toi...</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('../../public/photo/legumescard.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../public/photo/legumescard.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../public/photo/legumescard.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some.</p>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <div class="container2">
        <h1 class="textvert">Lorem, ipsum dolor sit amet consectetur adipisicing at dolore nostrum eius</h1>
      <button type="button" class="hero-button">Acheter</button>
        <button type="button" class="hero-button">Vendre</button>
    </div>


{% endblock %}