{% extends 'base.html.twig' %}

{% block content %}


<main>

    <h1>Locavore ?</h1>
    <h2>Qu'est-ce que ça veut dire ?</h2>


    <p>En 2005, l'américaine Jessica Prentice a inventé le mot locavore à l'occasion de la journée mondiale de l'environnement pour désigner les personnes qui n'achètent que des produits cultivés ou produits dans un rayon de 150 kilomètres. </p>

    <p>En quinze ans, le terme est entré dans le language courant (en 2010 dans le Larousse pour la France) et a même développé son propre courant : le locavorisme. L'idée est en adéquation avec toutes les bonnes pratiques faites pour réduire son empreinte carbone : en consommant local, on évite les acheminements par avion et les suremballages.</p> 
    
    <p> Mais l'écologie ne se trouve pas seulement dans la localisation du producteur mais aussi dans la qualité de ses moyes de production. Un locavore essaie de privilégier les petites exploitations respectueuses de l'environnement, ça n'aurait en effet aucun sens de continuer à acheter à des producteurs qui détruisent la planète quand on essaie de la sauver. Cela permet en outre de prendre aussi soin de sa santé, ce qui est un plus non-négligeable !</p>

    <p>Faites vivre l'économie locale, soutenez les petits producteurs, prenez soin de vous et de la planète, <a href="{{ path('register') }}">rejoignez-nous !</a></p>


    <ul>Ressources pour aller plus loin :
        <li><a href="https://fr.wikipedia.org/wiki/Locavorisme">La page wikipedia sur le locavorisme</a>  : un premier apperçu des bases du mouvement.</li>
        <li><a href="https://locavores.fr/">Le site officiel des locavores français :</a> LE site à ne pas louper pour s'informer sur ce mouvement.</li>
        <li><a href="https://www.lebonbon.fr/paris/les-tops-food-et-drink/restaurant-locavore-paris/">Un article listant des restaurants locavores à Paris :</a> pour les parisiens, quelques pépites à essayer !</li>
    </ul>

</main>


{% endblock %}