/* banniere */
.image_baniere {
  width: 100%;
  height: 50vh;
  background-image: url("/photo/PANIERS/panier-legumes2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
