body{
  overflow-x: hidden;
 }



.textimg {
  color: white;
  font-size: 50px;
}


main h2 {
  color: #3a3a3a;
}
h2 {
  text-align: center;
  align-self: center;
  padding-top: 50px;
  font-size: 50px;
}
/* NAV */
.navbar {
  background-color: white !important;
}

/* a {
  text-decoration: none;
  color: white;
} */

.btn {
  margin-left: 15px;
}

.row {
  padding-top: 20px;
}

/*------hero----- */

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../photo/legumes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* filter: brightness(60%); */
}

.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-button {
  background-color: rgb(255, 199, 31);
  color: white;
  border: 1px solid #ffffff;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: rgb(255, 153, 0);
  border: 1px solid #ffffff;
}
/* -------hero----------- */

.container2 {
  background-color: rgb(114, 255, 58);
}

.textvert {
  color: white;
}
footer {
  background: rgb(255, 255, 255);
}

.footer_B {
  background: rgb(255, 255, 255);
}

footer a {
  color: rgb(44, 44, 44);
}

footer p {
  color:  rgb(44, 44, 44);
}

footer li {
  text-decoration: none;
  display: flex;
  padding-bottom: 100px;
}
