.textimg {
  color: white;
  font-size: 50px;
}


main h2 {
  color: #52d636;
}
h2 {
  text-align: center;
  align-self: center;
  padding-top: 50px;
  font-size: 50px;
}

.navbar {
  background-color: white !important;
}

a {
  text-decoration: none;
  color: white;
}

.btn {
  margin-left: 15px;
}

.row {
  padding-top: 20px;
}

/*------hero----- */

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../photo/legumes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* filter: brightness(60%); */
}

.hero-content {
  position: relative;
  font-family: "Monserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 0.625rem;
}
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-button {
  background-color: #ae2d59;
  color: white;
  border: 1px solid #cb376a;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: "Monserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #cb376a;
  border: 1px solid #db7598;
}
/* -------hero----------- */

.container2 {
  background-image: linear-gradient(
    to right top,
    #afdca8,
    #9adb8f,
    #85da75,
    #6ed859,
    #52d636
  );
  /* height: 300px; */
}

.textvert {
  color: white;
}
footer {
  background: rgb(83, 82, 82);
}

.footer_B {
  background: rgb(83, 82, 82);
}

footer a {
  color: white;
}

footer p {
  color: white;
}

footer li {
  text-decoration: none;
  display: flex;
  padding-bottom: 100px;
}
