{% extends 'base.html.twig' %}

{% block content %}

<div class="">
        Votre panier est vide ! 
        <a class="btn btn-outline-success btn-success" href="{{ path('search') }}"> Faites une recherche !</a>
</div>

{% endblock %}


