{% extends 'base.html.twig' %}

{% block content %}

<div class="">
        <p> Votre panier est vide ! :( </p>
        <a class="btn btn-outline-success btn-success" href="{{ path('search') }}"> Faites une recherche !</a>
</div>

{% endblock %}


