{% extends 'base.html.twig' %}

{% block content %}

<div class='banniere_form'>
    <h2 class="card-header info-color white-text text-center py-4">
            Dashboard Admin 
    </h2>
    <h4 class="card-header info-color white-text text-center py-4">
            Bonjour {{ app.user.nom }}
    </h4>
</div>

{# ------------------- #}

<div class="container" style="height: 50vh;">
    <div class="row">
        <a href="{{ path('admin_users') }}" class="btn btn-success p-5 col-md-4 " style="font-size: 25px; font-weight: 600;" >Gestion des users</a>
        <a href="{{ path('admin/show_shops') }}" class="btn btn-warning p-5 col-md-4 " style="font-size: 25px; font-weight: 600;">Gestion des boutiques</a>
    </div>
</div>

{% endblock %}