{% extends 'base.html.twig' %}

{% block content %}

<h1>Dashboard Admin</h1>
<a href="{{ path('admin_users') }}">Gestion des users</a>
<a href="{{ path('admin/show_shops') }}">Gestion des boutiques</a>

{% endblock %}