<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>

        <!-- Bootstrap4 CSS + Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('/css/stylebct.css') }}">


    </head>
    <body>

        {% block body %}
            <!-- Bar de navigation -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand success" href="#">BioChezToi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
        
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">A propos<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Boutique<span class="sr-only">(current)</span></a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                            </li>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        {% if not app.user %}
                        {# Autre manière de checker s'il y a un user
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                        #}
                          <button type="button" class="btn btn-success btn-sm"><a href="{{ path('login') }}">Connexion</a></button>
                        {% else %}
                          <button type="button" class="btn btn-success btn-sm"><a href="{{ path('logout') }}">Déconnexion</a></button>
                        {% endif %}
                        <button type="button" class="btn btn-success btn-sm"><a href="{{ path('register') }}">Inscription</a></button>
                    </div>
                </nav>
            <!--/ Bar de navigation -->
            {% block content %}
            {% endblock %}
                <!-- FOOTER -->
                <footer>
           
                    <footer class="page-footer font-small indigo">
        
                        <div class="container-fluid">
                            <div class="footer_B">
        
                            <div class="row text-center d-flex justify-content-center pt-5 mb-2">
                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">CGU</a>
                                    </h6>
                                </div>
                               
                                <div class="col-md-2 mb-3">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Copyright</a>
                                    </h6>
                                </div>
           
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Qui sommes nous?</a>
                                    </h6>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">SAV/Nous contacter</a>
                                    </h6>
                                </div>
                            
                                <div class="col-md-2 mb-2">
                                    <h6 class="text-uppercase font-weight-bold">
                                        <a href="#!">Recrutement</a>
                                    </h6>
                                </div>
        
                            </div>
                           
                            <hr class="rgba-white-light" style="margin: 0 15%;">
        
                            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        
                                <div class="col-md-8 col-12 mt-5">
                                    <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit
                                        voluptatem
                                        accusantium doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                        dicta sunt
                                        explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                        consequuntur.</p>
                                </div>
        
                            </div>
        
                            <hr class="clearfix d-md-none rgba-white-primary" style="margin: 10% 15% 5%;">
        
                        <div class="footer-copyright text-center py-3">© 2018 Copyright:
                            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </footer>
           
            {% endblock %}
            {% block javascripts %}{% endblock %}
        </body>
    </html>
{# </div></nav><!--/ Bar de navigation -->{% block content %}{% endblock %}<!-- FOOTER --><footer> #}
<div class="container">
    <div class="row">
        <ul class="navbar col-md-10 ">
            <li class="nav-item active">
                <a class="nav-link" href="#">CGU
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Copyright<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Qui sommes nous?<span class="sr-only">(current)</span>
                </a>
            </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SAV/Nous contacter<span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Recrutement<span class="sr-only">(current)</span>
            </a>
        </li>
    </li>
</ul></div></div><div id="trait_dessus"><hr></footer>
    {# {% endblock %} #}
    {# {% block javascripts %}{% endblock %} #}
</body><script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></html>
